/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.clr {
    clear: both;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.large-heading {
    font-size: 40px;
}

.btn {
    display: inline-block;
    padding: 13px 20px;
    font-size: 18px;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
}

.btn-light {
    background-color: #fff;
    color: #333;
}

.btn:hover {
    color: #333;
    background-color: #f7c08a;
}

/* Main Styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    padding: 10px 0px;
}


/* Nav Bar */
#navbar {
    background-color: #333;
    color: white;
    overflow: auto;
}

#navbar a {
    color: white;
}

#navbar .logo {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
    background: #444;
    color: #f7c08a
}

/* Showcase */
#showcase {
    background-image: url("../img/showcase.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home-Info */
#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("../img/photo-1.jpg") no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 50px 30px;
    text-align: center;
}

#home-info .info-content p {
    padding-bottom: 30px;
}

/* Features */

.box {
    text-align: center;
    padding: 30px;
    float: left;
    width: 33.3%;
}

.box i {
    padding-bottom: 10px;
}

/* ABOUT.html */

#about-info  {
    padding: 30px 0px;
}

#about-info .info-left {
    float: left;
    width: 50%;
}

#about-info .info-right {
    float: right;
    width: 50%;
    /* min-height: 100%; */
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

/* Testamonials */

#testamonials {
    height: 900px;
    padding-top: 100px;
    background: url("../img/test-bg.jpg");
}

#testamonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#testamonials .testamonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
    /* Overflow auto makes it so that the testamonial div expands with the floated image inside of it */
    overflow: auto;
}

#testamonials .testamonial img {
    width: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Contact */

#contact-form {
    padding: 30px 0px;
    line-height: 1.2em;
}

#contact-form p {
    margin-bottom: 10px;
}

#contact-form label {
    font-size: 16px;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

textarea {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#contact-info {
    color: #f4f4f4;
}

/* Footer */

#main-footer {
    padding: 20px;
    text-align: center;
    color: #fff;
    background: #444
}